!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/target/
/.settings/
target/*
*/target/*
*.class
*.project
.ideax
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
log
LOG_HOME_IS_UNDEFINED
var

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

#####忽略提交target文件夹#####
/target/
target/*
*/target/
target

edu-zipkin-server/skyWalking/*
*/user-web/skyWalking/*
edu-monitor-admin/skyWalking/*
edu-gateway/skyWalking/*

edu-common-starter/common-redis-starter/src/test/
edu-gateway/src/test/
edu-monitor-admin/src/test/
edu-user-center/user-api/src/test/
edu-user-center/user-common/src/test/
edu-user-center/user-service/src/test/
edu-user-center/user-web/src/test/
edu-zipkin-server/src/test/
